@charset "UTF-8";
:root {
  --dominant-tex-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --logo-color: #000000;
  --color-white: #ffffff;
  --background-hero-color: #2f303a;
  --button-active-color: #188ce8;
  --box-backgroun-color: #f5f4fa;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --contact-header-color: #757575;
  --background-footer-color: #2f303a;
  --color-client: #afb1b8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--dominant-tex-color);
  line-height: 1.2;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 748px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.98px) {
  .section {
    padding: 60px 0 60px 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  overflow-y: scroll;
  visibility: visible;
  z-index: 99999;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 40px;
  overflow-y: scroll;
  background-color: var(--color-white);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    overflow-y: visible;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    overflow-y: visible;
  }
}

.modal__btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  height: 11px;
  width: 11px;
}

.modal__btn:hover,
.modal__btn:focus {
  fill: var(--accent-color);
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-color);
}

.modal__form {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__unit {
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--dominant-tex-color);
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  background: var(--color-white);
  cursor: pointer;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus,
.modal__input:hover {
  border: 1px solid var(--accent-color);
}

.modal__coment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding-left: 16px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
  resize: none;
}

.modal__coment:focus,
.modal__coment:hover {
  border: 1px solid var(--accent-color);
}

.modal__block {
  position: relative;
}

.modal__form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__form-icon {
  fill: var(--accent-color);
}

.modal__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 7px;
}

.modal__checkbox:checked + .modal__checkbox-icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__policy {
  display: flex;
  align-items: center;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: var(--contact-header-color);
  margin-top: 20px;
  cursor: pointer;
}

.modal__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 10px 55px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--button-active-color);
}

.modal__link {
  margin-left: 10px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--accent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__thumb::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__card:hover .project__thumb::before,
.project__card:hover .project__overlay {
  transform: translateY(0);
}

.project__card:focus .project__thumb::before,
.project__card:focus .project__overlay {
  transform: translateY(0);
}

.project__overlay {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--color-white);
  transition-property: transform, background-color;
  transform: translateY(101%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 63px 24px;
  color: var(--white-color);
}

.project__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--title-color);
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}

.project__subtitle {
  font-size: 16px;
  line-height: 2;
}

.navigation__logo__web {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.navigation__logo__studio {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .navigation__logo {
    margin-right: 88px;
    padding-top: 24px;
    padding-bottom: 25px;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    display: flex;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--color-client);
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  margin: 0px;
}

@media screen and (max-width: 767.98px) {
  .clients {
    margin-top: -30px;
    margin-left: -30px;
    padding: 0px;
  }
}

@media screen and (max-width: 1199.98px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
}

@media screen and (max-width: 767.98px) {
  .clients__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    margin: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link:focus,
.clients__link:hover {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.page-footer {
  background-color: var(--background-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 767.98px) {
  .footer {
    text-align: center;
  }
}

.footer__web {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.footer__studio {
  color: var(--color-white);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__list {
    margin-right: 165px;
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__list {
    margin-right: 70px;
  }
}

.footer__address {
  font-size: 14px;
  line-height: 2;
  color: var(--color-white);
  font-style: normal;
  padding-left: 0px;
  margin-bottom: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__find {
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.footer__contact {
  font-size: 14px;
  line-height: 1.7;
  color: var(--contact-footer-color);
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address:hover,
.footer__address:focus,
.footer__contact:hover,
.footer__contact:focus {
  color: var(--accent-color);
}

/* иконки футера */
.footer__social-icons {
  padding: 0%;
  margin: 0px;
}

.footer__social-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__social-title {
    margin-top: 0px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social-title {
    display: flex;
  }
}

.footer__social {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-right: 93px;
  }
}

.footer__icons {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.footer__icons:not(:last-child) {
  margin-right: 10px;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon {
  fill: var(--background-color);
}

.footer__social-link:hover,
.footer__social-link:focus {
  background-color: var(--accent-color);
}

/* форма футера */
@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .footer__form {
    display: inline-block;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: flex;
  }
}

.footer__form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-footer-color);
  border-radius: 4px;
  padding: 15px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer__form-input {
    width: 450px;
    height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form-input {
    margin-right: 12px;
    width: 358px;
  }
}

.footer__button {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
  padding: 10px 28px 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .footer__button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--button-active-color);
}

.footer__form-icon {
  margin-left: 10px;
  fill: var(--color-white);
}

.hero-content__button {
  display: inline-block;
  padding: 10px 32px;
  color: var(--color-white);
  font-family: inherit;
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--button-active-color);
}

.hero {
  background-color: var(--background-hero-color);
  text-align: center;
  display: flex;
  align-items: center;
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero.mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 480px) {
  .overlay {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero.mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero.tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero.tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero.desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero.desktop@2x.jpg");
  }
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .hero-content {
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .hero-content {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-content {
    max-width: 696px;
  }
}

.hero-content__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--color-white);
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 767.98px) {
  .hero-content__title {
    font-size: 26px;
    line-height: 42px;
  }
}

@media screen and (min-width: 768px) {
  .hero-content__title {
    font-size: 26px;
    line-height: 42px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-content__title {
    font-size: 44px;
    line-height: 60px;
  }
}

.title {
  font-weight: bold;
  line-height: 1.2;
  color: var(--title-color);
  text-align: center;
  margin-top: 0px;
}

@media screen and (max-width: 767.98px) {
  .title {
    font-size: 28px;
    line-height: 33px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 33px;
  }
}

@media screen and (max-width: 1199.98px) {
  .title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
  }
}

.site-nav__link {
  position: relative;
  display: block;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link.curent {
  color: var(--accent-color);
}

.link.curent::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.item:hover,
.item:focus,
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.item {
  color: var(--contact-header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767.98px) {
  .page-header .container {
    padding: 15px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .page-header .container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .page-header .container {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
}

@media screen and (max-width: 767.98px) {
  .site {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site {
    display: flex;
    padding-left: 0px;
    margin: 0px;
  }
}

@media screen and (max-width: 767.98px) {
  .site-contact {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-contact {
    margin: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .site-contact {
    display: flex;
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (min-width: 768px) {
  .site__link:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .site__link:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .com-nav {
    display: flex;
    padding-left: 0px;
    justify-content: flex;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.site-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) {
  .site__link-contact:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .site__link-contact:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

/* иконки хедера */
.contact-list {
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 1199.98px) {
  .site__contact.mail {
    padding-top: 21px;
  }
}

@media screen and (max-width: 1199.98px) {
  .site__contact.tell {
    padding-bottom: 21px;
  }
}

.site__contact {
  font-family: inherit;
  font-weight: 500;
  color: var(--secondary-text-color);
  text-decoration: none;
  cursor: pointer;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site__contact {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .site__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 16px;
  }
}

.site__contact:focus {
  color: #2196f3;
}

.site__icon {
  margin-right: 10px;
  fill: currentColor;
}

.site__link:hover,
.site__link:focus {
  color: var(--button-active-color);
}

.filter {
  display: flex;
  justify-content: center;
  margin: 0px;
}

@media screen and (max-width: 767.98px) {
  .filter {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1199.98px) {
  .filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1199.98px) {
  .filter {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767.98px) {
  .filter {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0px;
  }
}

.filter__item {
  height: 44px;
  list-style: none;
  border: none;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767.98px) {
  .filter__item:not(:last-child) {
    margin-bottom: 21px;
  }
}

.filter__item .filter__button.curent {
  background-color: var(--accent-color);
  color: var(--color-white);
}

.filter__button {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  color: var(--title-color);
  font-family: inherit;
  background-color: var(--box-backgroun-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
  cursor: pointer;
  text-align: center;
  border: none;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
  color: var(--color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  margin-left: -30px;
  margin-top: -30px;
}

.project__item {
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 767.98px) {
  .project__item {
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .project__item {
    flex-basis: calc(100% / 2 - 30px);
    max-width: 354px;
    height: 440px;
    border: 1px solid #eeeeee;
  }
}

.project__card {
  color: var(--contact-header-color);
  display: block;
  text-decoration: none;
}

.project__card:hover,
.project__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__box {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

@media screen and (max-width: 767.98px) {
  .project__box {
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }
}

@media screen and (min-width: 768px) {
  .project__box {
    border: none;
  }
}

@media screen and (min-width: 1200px) {
  .project__box {
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }
}

.value {
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .value {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .value {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .value__item {
    width: calc((100% - 2 * 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .value__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .value__item:not(:last-child) {
    margin-right: 30px;
  }
}

.value__title {
  display: flex;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--box-backgroun-color);
}

.value__subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  color: var(--title-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767.98px) {
  .value__subtitle {
    text-align: center;
  }
}

.value__text {
  font-size: 14px;
  line-height: 1.7;
}

@media screen and (max-width: 767.98px) {
  .value__text {
    margin-bottom: 30px;
  }
}

/* Чем мы занимаемся */
.section-title {
  padding-top: 0px;
}

@media screen and (max-width: 1199px) {
  .section-title {
    display: none;
  }
}

.work {
  padding: 0px;
  margin: 0px;
}

.work__item {
  position: relative;
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
  margin-top: 50px;
}

.work__title {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 75%;
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
}

.team {
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__list {
    flex-basis: calc((100% - 3 * 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .team__list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list:not(:last-child) {
    margin-right: 30px;
  }
}

.team__signature {
  padding-top: 30px;
  padding-left: 24px;
  padding-bottom: 30px;
  padding-right: 24px;
  text-align: center;
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-color);
}

.team__responsibilities {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 10px;
}

.box {
  background-color: var(--box-backgroun-color);
}

.box .section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.98px) {
  .box .section {
    padding: 60px 0 60px 0;
  }
}

/* социалки */
.team__social {
  display: flex;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.team__icon {
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--color-client);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__icon:not(first-child) {
  margin-right: 10px;
}

.team__icon:hover,
.team__icon:focus {
  background-color: var(--accent-color);
  fill: var(--background-color);
}

@media screen and (max-width: 767.98px) {
  .menu__button {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 106;
  }
}

@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .menu__btn {
    top: 0px;
    background-color: rgba(255, 255, 255, 0.02);
    border: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: #212121;
  }
}

.menu__btn.is-open {
  position: fixed;
  top: 10px;
  right: 15px;
}

@media screen and (max-width: 767.98px) {
  .menu__btn:focus,
  .menu__btn:hover {
    fill: #2196f3;
    transition-duration: 250ms;
  }
}

@media screen and (max-width: 767.98px) {
  .icon-close {
    display: none;
  }
}

.is-open .icon-close {
  display: block;
}

.is-open .icon-open {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .mobile-menu {
    position: fixed;
    left: 0;
    top: 100%;
    width: 100vw;
    height: 100vh;
    padding: 28px 63px 28px 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    z-index: 105;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 767.98px) {
  .mobile-menu.is-open {
    top: 0%;
  }
}

@media screen and (max-width: 767.98px) {
  .mobile-menu.is-open {
    top: 0%;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767.98px) {
  .mobile-menu__item .current {
    color: #2196f3;
  }
}

@media screen and (max-width: 479.98px) {
  .mobile-menu__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #212121;
  }
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .mobile-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #212121;
  }
}

@media screen and (max-width: 767.98px) {
  .mobile-social {
    left: auto;
    bottom: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .connection-menu {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 767.98px) {
  .connection-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 479.98px) {
  .connection-menu__tel {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.18;
    color: #2196f3;
  }
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .connection-menu__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    color: #2196f3;
  }
}

@media screen and (max-width: 479px) {
  .connection-menu__mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17x;
    color: #757575;
  }
}

@media screen and (max-width: 767.98px) {
  .connection-menu__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17x;
    color: #757575;
  }
}

@media screen and (max-width: 767.98px) {
  .social-menu {
    display: flex;
    padding-bottom: 40px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .social-menu__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
}

@media screen and (max-width: 479px) {
  .social-menu__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: #2196f3;
  }
}

@media screen and (min-width: 480px) {
  .social-menu__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: #2196f3;
  }
}
/*# sourceMappingURL=styles.css.map */