.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 40px;
  overflow-y: scroll;

  background-color: var(--color-white);

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
    overflow-y: visible;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
    overflow-y: visible;
  }
}

.modal__btn {
  position: absolute;
  top: 0;
  right: 0;

  margin-top: 8px;
  margin-right: 8px;

  height: 30px;
  width: 30px;

  border: none;

  outline: none;

  cursor: pointer;

  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  height: 11px;
  width: 11px;
}

.modal__btn:hover,
.modal__btn:focus {
  fill: var(--accent-color);
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-color);
}

.modal__form {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__unit {
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--dominant-tex-color);
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  background: var(--color-white);

  cursor: pointer;
  outline: none;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus,
.modal__input:hover {
  border: 1px solid var(--accent-color);
}

.modal__coment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding-left: 16px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
  resize: none;
}

.modal__coment:focus,
.modal__coment:hover {
  border: 1px solid var(--accent-color);
}

.modal__block {
  position: relative;
}

.modal__form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__form-icon {
  fill: var(--accent-color);
}

.modal__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 7px;
}

.modal__checkbox:checked + .modal__checkbox-icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__policy {
  display: flex;
  align-items: center;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: var(--contact-header-color);
  margin-top: 20px;
  cursor: pointer;
}

.modal__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 10px 55px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--button-active-color);
}

.modal__link {
  margin-left: 10px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--accent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
