.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;

  min-width: 528px;
  min-height: 581px;
  background-color: var(--color-white);
}

.modal__icon {
  height: 11px;
  width: 11px;
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-color);
}

.modal__form {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__unit {
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--dominant-tex-color);
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  background: var(--color-white);

  cursor: pointer;
  outline: none;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus,
.modal__input:hover {
  border: 1px solid var(--accent-color);
}

.modal__coment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding-left: 16px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background: var(--color-white);

  cursor: pointer;
  outline: none;
  resize: none;
}

.modal__coment:focus,
.modal__coment:hover {
  border: 1px solid var(--accent-color);
}

.modal__block {
  position: relative;
}

.modal__form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__form-icon {
  fill: var(--accent-color);
}

.modal__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 7px;
}

.modal__checkbox:checked + .modal__checkbox-icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__policy {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: var(--contact-header-color);
  margin-top: 20px;
  cursor: pointer;
}

.modal__link {
  margin-left: 10px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--accent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
