.project__thumb::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__card:hover .project__thumb::before,
.project__card:hover .project__overlay {
  transform: translateY(0);
}

.project__card:focus .project__thumb::before,
.project__card:focus .project__overlay {
  transform: translateY(0);
}

.project__overlay {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.03em;

  color: var(--color-white);

  transition-property: transform, background-color;
  transform: translateY(101%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 63px 24px;
  color: var(--white-color);
}

.project__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--title-color);
  margin-bottom: 4px;
}

.project__subtitle {
  font-size: 16px;
  line-height: 2;
}
