:root {
  --dominant-tex-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --logo-color: #000000;
  --color-white: #ffffff;
  --background-hero-color: #2f303a;
  --button-active-color: #188ce8;
  --box-backgroun-color: #f5f4fa;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --contact-header-color: #757575;
  --background-footer-color: #2f303a;
  --color-client: #afb1b8;
}
